.card {
  display: inline-block;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}
.golfer-pic {
  width: 65px;
  height: 45px;
  margin: auto;
}
.error-text {
  text-align: center;
  margin-left: 5em;
  font-size: 14px;
}
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
