.memory-card {
  width: 450px;
  margin: auto;
  @media screen and(max-width: 600px ) {
    width: 300px;
    background-size: contain;
  }
  @media screen and(max-width: 900px ) {
    width: 320px;
    background-size: contain;
  }
}
.mat-form-field {
  width: 45%;
  margin: 7px;
}
.mat-raised-button {
  color: white;
  background: blue;
  margin-left: 10px;
}
.spinner {
  position: relative;
  margin-left: 32%;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
