.title {
  text-align: center;
  margin-left: 10px;
}
.leaders {
  height: 85px;
  background: black;
  color: #e4e4e4;
  font: 500 12px/14px Roboto, 'Helvetica Neue', sans-serif;
}
.mat-toolbar-row {
  padding-left: 3px;
  padding-right: 0px;
}
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer {
  flex: 1 1 auto;
}
